*, body{
  box-sizing: border-box;
}
#cpf-login-form{
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border: 2px solid rgba(227,227,227,1);
  background-color: rgba(227,216,208,.4);
  border-radius: 8px;
  box-shadow: -4px 4px 0 2px rgba(0,0,0,.2);
}

#cpf-login-form input{
  width: 100%;
  max-width: 100%;
  padding: .8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border-radius: 4px;
}

#cpf-login-form input:focus{
  outline: none;
  border: 2px solid #2d7ffd;
}

#cpf-login-form button{
  width: 100%;
  padding: 10px;
  background: #2d7ffd;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s ease;
}
#cpf-login-form button:hover{
  background-color: #2d7ffd;
}

#cpf-login-msg{
  margin-top: 10px;
}
